<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/car_icon"
        android:label="AutoMobile Mechanics"
        android:roundIcon="@mipmap/car_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CAB"
        tools:targetApi="31">

<activity android:name=".MechanicSettingActivity"
    android:exported="false"
    android:screenOrientation="portrait">
    <meta-data
        android:name="android.app.lib_name"
        android:value=" ">

    </meta-data>

</activity>
        <activity android:name=".MechanicModule"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="">

            </meta-data>
        </activity>

        <activity android:name=".CustomerSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="">
            </meta-data>

        </activity>
        <activity android:name=".MechanicFpassActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="">
            </meta-data>
        </activity>

        <activity android:name=".MechanicRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="">
            </meta-data>
        </activity>

        <activity android:name=".MechanicLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>

<activity android:name=".CustomerFpassActivity"
    android:exported="false"
    android:screenOrientation="portrait">
    <meta-data
        android:name="android.app.lib_name"
        android:value=""/>
</activity>

        <activity android:name=".CustomerRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>

        <activity android:name=".FuelForm"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>

        <activity android:name=".ElectForm"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
            android:name="android.app.lib_name"
                android:value=""/>

        </activity>

        <activity android:name=".TowForm"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>

        </activity>
        <activity
            android:name=".DriverHome"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CustForm"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CustModule"
            android:exported="false"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCqrLSAWs_Ghj7-SQVTCXuRDznITt6_4TA" />

        <activity
            android:name=".CustomerLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>